body {
    background: #2F1893;
}

.header {
    margin-top: 65px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header_child {
    height: 40px;
    width: 972px;
    display: flex;
    justify-content: space-between;
    left: 213px;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    line-height: 26px;
}

.startup {
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.25px;
    letter-spacing: -0.29px;
    text-align: center;

}
.list_item{
height: 26px;
font-family:'DM Sans', sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
color:#FFFFFF;
padding: 7px 21px;
}

li[active=true]{
    background: #E93A7D;
    border-radius: 100px;
}

li[diactive=true]{
    color: rgba(255, 255, 255, 0.3);
}

.items {
    list-style: none;
    display: flex;
}

.content {
    margin-top: 65px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.content_group {
    display: flex;
    width: 972px;
    justify-content: space-between;
}

.content_group_left {
    display: flex;
    flex-direction: column;
}


.header_text {
    font-family: 'DM Sans', sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: left;
    color: #FFFFFF;
}

.description {
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

.learn_more {
    width: 157px;
    height: 50px;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    background: #E93A7D;
    border-radius: 100px;
    border: none;
    color: #FFFFFF;
}

.content_group_right {
    width: 470px;
    height: 600px;
    background: #FFFFFF;
    border: 2px solid #EBEAED;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.signup_title {
    font-family: 'DM Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    color: #1E0E62;

}

.text_filed {
        width: 330px;
        height: 50px;
        padding-left: 20px;
        border-radius: 100px;
        border: 2px solid #EBEAED;
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
        color: rgba(21, 20, 57, 0.4);
    }

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check_group {
    height: 26.4px;
    width: 330px;
    display: flex;
    align-items: center;
}
.check_box {
    height: 24px;
    width: 24px;
    accent-color:#25DAC5;
    margin-right: 8px;
}

.check_box_label{
font-family:'DM Sans', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
color: rgba(21, 20, 57, 0.4);
}
.social_signs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    
}
.sign_up {
    height: 50px;
    width: 330px;
   font-family:'DM Sans', sans-serif;
   font-size: 18px;
   font-weight: 500;
   line-height: 26px;
   letter-spacing: 0px;
   text-align: center;
   border-radius: 100px;
   background:#482BE7;
   border: none;
   color:rgba(255, 255, 255, 1);
}
.twitter{
    height: 50px;
    width: 330px;
    font-family:'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 100px;
    background-color: #1DA1F2 ;
    border: none;
    color:rgba(255, 255, 255, 1);
    ;
}
.account_label{
    height: 28px;
    width: 230px;
  font-family:'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: #151439;
  color: rgba(21, 20, 57, 0.4);

}
.sign_in{
    height: 28px;
    width: 56px;
   font-family:'DM Sans', sans-serif;
   font-size: 18px;
   font-weight: 500;
   line-height: 28px;
   letter-spacing: 0px;
   text-align: left;
  color:#25DAC5;
}
.account{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.divider_group {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 328px;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}
.divider{
    height: 2px;
    width: 141.57px;
    background: #EBEAED;
}
.or{
    height: 26px;
    width: 16px;
    color: antiquewhite;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: center;
}
